.search-box {
	width: 40%;
	height: 45px;
	border: none;
	padding: 10px;
	border-radius: 4px;
	background-color: white;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	box-sizing: border-box;
}

@media screen and (max-width: 600px) {
	.search-box {
		width: 100%;
	}
}

@media screen and (max-width: 900px) {
	.search-box {
		width: 50%;
	}
}
